body {
  font-size: 16px;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
/*  border: 0;*/
}

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 2em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}

#nav-list {
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0;
}

#nav-list a {
  background-color: #7099bf;
  color: white;
  text-align: center;
  font-size: 1.5em;
/*  border: 1px black;
  display: block;*/
  margin-bottom: 1px;
}

/* END HEADER */

h3 {
/*  text-align: center;*/
  font-weight: bold;  
}

#box {
  background-color: grey;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 25px;

}

@media (max-width: 991px) {
  #box {
/*    margin-right: 10%;*/
    margin-left: 10%;
    width: 80%;
  }